.e-file-select-wrap {
  display: none;
}
.db-toolbar-container{
  width: 100%!important;
}
.overview-toggle-btn {
padding: 2px 10px;
background-color: #ccc;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 20px;
height: 30px;
color: #fff;
}
.overview-toggle-btn:hover {
background-color: red;
}
.e-menu-wrapper .e-menu{
margin-top: -5px!important;
color: white !important;
}
.e-menu-wrapper ul .e-menu-item .e-caret, .e-menu-container ul .e-menu-item .e-caret {
visibility: collapse !important;
}

.image-pattern-style,.image-pattern-style2 {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: calc((100% - 40px) / 3);
  cursor: pointer;
  border: 1px solid #D5D5D5;
  background-position: center;
  float: left;
}

.image-pattern-style:hover,
.image-pattern-style2:hover {
border-color: gray;
border-width: 2px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.row-header {
  font-size: 13px;
  font-weight: 500;
}

.row-header1 {
  font-size: 12px;
  padding-left: 2px;
  font-weight: 400;
}

.property-panel-header {
  padding-top: 2px;
  padding-bottom: 5px;
}

.e-selected-orientation-style {
  border-color: #006CE6;
  border-width: 2px;
}

.e-selected-pattern-style {
  border-color: #006CE6;
  border-width: 2px;
}

.e-checkbox-wrapper .e-label {
  font-size: 12px;
}

.col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}

  .property-panel-content{
      margin-left: 15px;
  }
#pictureDropdown , #addAssistantBtn{
  opacity: 0.5;
  pointer-events: none;
}

#e-split-btn_12_dropdownbtn,#e-split-btn_13_dropdownbtn,#e-split-btn_14_dropdownbtn{
  margin-top: -4px!important;
  border: #e3e3e3;
}

.e-colorpicker-wrapper .color-font + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
  content: '\e79f' !important;
  display: inline-block !important;
  font-size: 20px !important;
  margin-left: -6px !important;
  color: #605e5c !important;
  }
  .e-colorpicker-wrapper .color-fill + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
  content: '\e783' !important;
  display: inline-block !important;
  font-size: 18px !important;
  margin-left: -3px !important;
  color: #605e5c !important;
  }
  .e-colorpicker-wrapper .color-stroke + .e-split-btn-wrapper .e-btn-icon.e-caret::before {
  content: '\e740' !important;
  display: inline-block !important;
  font-size: 17px !important;
  margin-left: -3px !important;
  color: #605e5c !important;
  
  }
  /* Footer styles */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90.4deg, #154db9 0.03%, #081b3f 11.56%, #081b3f 85.56%, #154db9 99.97%);
  border: 1px solid #D8DEE9;
  z-index: 100;
  padding: 12px;
  height: 72px;
  font-family: sans-serif;;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.diagram-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  width: 38px;
  height: 38px;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-content .title span {
  font-weight: 400;
  font-size: 16px;
  color: #e1e3e7;
}
.footer-content .title span .main-title {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.footer-content .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-content .e-trial-btn::before {
  content: 'Start Free Trial';
  font-family: sans-serif;;
}
.footer-content .e-trial-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFF30F;
  color: #0F172A;
  border: transparent;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  box-shadow: none;
}
.footer-content .e-demo-btn {
  display: flex;
  align-items: center;
  background-color: transparent !important;
  border: transparent !important;
  color: white !important;
  border-radius: 6px;
  gap: 10px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .7px;
  height: 40px;
  box-shadow: none !important;
  text-transform: none;
}
.footer-content .e-demo-btn:hover {
  background-color: #173D87;
}
.footer-content .e-trial-btn::after {
  content: "\e773";
  font-family: 'e-icons';
  transform: rotate(180deg);
}
.footer-content .e-primary:hover {
  background: #F1E50B;
  color: #0F172A;
}
.footer-content .e-primary:focus {
  background: #F1E50B;
  color: #0F172A;
}
.promotion-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-right: 1.5rem;
}
 

@media (max-width: 1140px) {
  .footer-content .title {
    display: flex;
    flex-direction: column;
  }

  .footer-content .title span,
  .footer-content .title span .main-title {
    font-size: 14px;
  }
}

/* To hide the footer content: "Try our DOCX Editor SDK — create, edit, and collaborate!" */
@media (max-width: 900px) {
  .e-ribbon .help-pane-content,
  .footer-content .title span:last-child {
    display: none;
  }
}

/* To hide the "Request Demo" button */
@media (max-width: 730px) {
  .footer-content .buttons .e-demo-btn {
    display: none;
  }

  .footer-content .buttons .e-trial-btn::before {
    content: 'Free Trial';
  }

  .footer-content .buttons .e-trial-btn::after {
    content: none;
  }
}
/* Hide the promotion text */
@media (max-width: 470px) {
  .promotion-text {
    display: none;
  }
}